.button-group-container {
  display: flex;
  align-items: center;
  background: var(--color-background-01);
  border-radius: 0.75rem;
  border: 1.5px solid var(--color-content-03);
  padding: 0.5rem;
  gap: 0.5rem;
  width: 100%;
}
.button-group-rounded {
  border-radius: 9999px !important;
}
.button-group-btn {
  width: 100%;
  background: transparent;
  color: var(--color-content-04);
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}
.button-group-btn.active {
  background: var(--color-background-04);
  color: white;
}
.button-group-btn:not(.active):hover {
  background: var(--color-background-02);
  color: var(--color-content);
}
