.custom-form-steps {
  display: flex;
  align-items: flex-start; /* align steps from top */
  justify-content: center;
  width: 100%;
  /* gap: 1rem; */
  padding: 1rem 0;
}

.custom-form-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 120px;
}

/* Circle */
.custom-form-step-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  transition: all 0.3s;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.custom-form-step-circle.completed {
  background: var(--color-background-04);
  color: #fff;
}

.custom-form-step-circle.active {
  background: var(--color-background-04);
  color: #fff;
}

.custom-form-step-circle.inactive {
  background: var(--color-background-03);
  color: var(--color-background-04);
}

/* Progress Bar */
.custom-form-step-bar {
  height: 0.5rem;
  width: 7rem;
  border-radius: 9999px;
  transition: all 0.3s;
  background: var(--color-background-03);
  position: relative;
  left: 95%;
  transform: translateX(-50%);
}

.custom-form-step-bar.completed {
  background: var(--color-background-04);
}

.custom-form-step-bar.active {
  background: linear-gradient(
    90deg,
    var(--color-background-04) 50%,
    var(--color-background-03) 50%
  );
}

/* Label */
.custom-form-step-label {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  text-align: center;
  width: 200px;
  color: var(--color-content-01);
}
