version: "3.8"

services:
  react-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3008:80"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 4G
